<div class="box palette_2 text-start mx-auto">
  <div class="itemContainer">
    <div class="item">
      <input type="checkbox" />
      <p>Welcome to your new To DO organizer!</p>
    </div>
  </div>
  <div class="itemContainer">
    <div class="item">
      <input type="checkbox" checked />
      <p>No more payment required!</p>
    </div>
  </div>
  <div class="itemContainer">
    <div class="item">
      <input type="checkbox" name="" value="" />
      <p>Just mark your new objectives!</p>
    </div>
  </div>
  <div class="itemContainer">
    <div class="item">
      <input type="checkbox" checked />
      <p>No more annoying advertisement!</p>
    </div>
  </div>
  <div class="itemContainer d-flex justify-content-center px-3">
    <div class="item">
      <input
        id="home-list_input_example"
        class="typewriter"
        type="text"
        value="Easy to modify!"
      />
    </div>
  </div>
</div>
